<ion-content>
  <!-- <ion-card  *ngFor="let x of applytournaments">
    <ion-card-header>
 
      <ion-card-title>{{x.doc.formInfo.tournamentName}}</ion-card-title>
      <ion-card-subtitle>{{x.doc.formInfo.joiningFee}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     
    </ion-card-content>
   
  </ion-card> -->
  <div class="container">
    <div class="header">
     
      <div class="text">
        <p>Apply Tournament</p>
      </div>
    </div>
    <div class="t-list">
      <div class="label">
        <div class="t">
          <p><sub><b>New Tournaments</b></sub></p>
        </div>
        <div class="line">
          <div class="l"></div>
        </div>
      </div>
      <div class="newTournamentList">
        <div class="lister">
          <div class="card" style="text-align: center;" *ngIf="applytournaments.length==0" >
            <p>No Tournaments</p>
          </div>
         <div *ngFor="let x of applytournaments" >
            <div class="card" *ngIf="x.application.status != 'paid'">
            <div class="title">
              <h2>{{x.doc.formInfo.tournamentName}}</h2>
            </div>
            <div class="details">
              <div class="v">
                <p>Participants {{x.doc.formInfo.type}}</p>
                <p>{{x.doc.formInfo.location}}</p>
                <hr>
                <p>{{x.doc.formInfo.startDate | date}} to {{x.doc.formInfo.endDate | date}}</p>
                <p>R {{x.doc.formInfo.joiningFee}}.00 fee</p>
                <p>Top 32</p>
                <p>Application Closing Date: {{x.doc.formInfo.applicationClosing}}</p>
                <p>Vendors {{x.doc.approvedVendors.length}}</p>
              </div>
              <div class="applied" *ngIf="x.isApplied == false">
                <ion-button shape="round" slot="end" (click)="applyForTournament(x)">Apply</ion-button>
              </div>
              <div class="applied" *ngIf="x.isApplied == true">
                <p *ngIf="x.application.status == 'awaiting'"> Your application is still being processed</p>
                <p *ngIf="x.application.status == 'accepted'"> Application is being conditionally approved, please use <br>
                  <span>{{x.application.refNumber}}</span> <br> as your reference number to pay</p>
                  <p (click) = "routerToProfile()" *ngIf="x.application.status == 'paid'"> Application is approved  <br> please go to your profile to view tournament, 
                </p>
                <p  *ngIf="x.application.status == 'declined'" style="background: red;color: rgb(255, 223, 223);"> Application for this tournament is unsuccessful.  
                </p>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>