<ion-content>
<div class="topPart">
  <div class="shad">
    <div class="head">
      <div class="backer">
        <ion-fab-button size="small" color="light" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="hTitle">
        <p>Team Info</p>
      </div>
    </div>
    <div class="images">
      <div class="j">
      <img *ngIf="teamNode.teamJerseyIMG"  src="{{teamNode.teamJerseyIMG}}" alt="">
        <circle-progress *ngIf="!teamNode.teamJerseyIMG" 
        [percent]="[teamProgress]"
        [animation]="true"
        [responsive]="true"
        [titleFontSize]="50"
        [subtitleFontSize]="20"
        [subtitle]="[tJerseyText]"
      ></circle-progress>
      </div>
      <div class="l">
      <img *ngIf="teamNode.teamLogo"  src="{{teamNode.teamLogo}}" alt="">
        <circle-progress *ngIf="!teamNode.teamLogo" 
        [percent]="[logoProgress]"
        [animation]="true"
        [responsive]="true"
        [titleFontSize]="50"
        [subtitleFontSize]="20"
        [subtitle]="[logoText]"
      ></circle-progress>
      </div>
      <div class="g">
      <img *ngIf="teamNode.goalKeeperJerseyIMG"  src="{{teamNode.goalKeeperJerseyIMG}}" alt="">
        <circle-progress *ngIf="!teamNode.goalKeeperJerseyIMG" 
        [percent]="[jerseyProgress]"
        [animation]="true"
        [responsive]="true"
        [titleFontSize]="50"
        [subtitleFontSize]="20"
        [toFixed]="0"
        [subtitle]="[gJerseyText]"
      ></circle-progress>
      </div>
    </div>
    <div class="imgBtns">
      <div class="uJ">
        <ion-fab-button size="small" color="success" (click)="teamJersey()">
          <ion-icon src="../../../assets/tJersey.svg"></ion-icon>
        </ion-fab-button>
        <p>Team&nbsp;Jersey</p>
      </div>
      <div class="uL">
        <ion-fab-button size="small" color="success" (click)="selectLogoImage()">
          <ion-icon src="../../../assets/tLogo.svg"></ion-icon>
        </ion-fab-button>
        <p>Team&nbsp;Logo</p>
      </div>
      <div class="uG">

        <ion-fab-button  size="small" color="success" (click)="GoalKeeperJersey()">
          <ion-icon  src="../../../assets/gJersey.svg"></ion-icon>
        </ion-fab-button>
        <p>Goalkeeper <br> Jersey</p>
      </div>
    </div>
  </div>
  <div class="former">
    <form [formGroup]="addTeamForm">

      <ion-item>
        <ion-label  position="floating">Team Name</ion-label>
        <ion-input type="text" formControlName="teamName" [(ngModel)]="teamNode.teamName" ngDefaultControl
        ></ion-input>
      </ion-item>

    <div class="error" *ngFor="let validate of validation_messages.teamName">
      <div class="messages" style="color:red"
        *ngIf="addTeamForm.get('teamName').hasError(validate.type) && (addTeamForm.get('teamName').dirty || addTeamForm.get('teamName').touched)">
        <p>{{validate.message}}</p>
      </div>
    </div>
    <ion-item>
      <ion-label  position="floating">Coach Name</ion-label>
      <ion-input type="text" formControlName="coachName" [(ngModel)]="teamNode.coachName" ngDefaultControl
        ></ion-input>
    </ion-item>
    <div class="error" *ngFor="let validate of validation_messages.coachName">
      <div class="messages" style="color:red"
        *ngIf="addTeamForm.get('coachName').hasError(validate.type) && (addTeamForm.get('coachName').dirty || addTeamForm.get('coachName').touched)">
        <p>{{validate.message}}</p>
      </div>
    </div>
    <!-- / ================================ -->
      <ion-item>
        <ion-label  position="floating" >Region</ion-label>
        <ion-input type="text" formControlName="region" [(ngModel)]="teamNode.region" ngDefaultControl
        ></ion-input>
      </ion-item>
    

    <div class="error" *ngFor="let validate of validation_messages.region">
      <div class="messages" style="color:red"
        *ngIf="addTeamForm.get('region').hasError(validate.type) && (addTeamForm.get('region').dirty || addTeamForm.get('region').touched)">
        <p>{{validate.message}}</p>
      </div>
    </div>
    <!-- /
         -->
         <ion-item>
           <ion-label position="floating">Contact Number</ion-label>
           <ion-input type="tel" maxLength="10" formControlName="tel" [(ngModel)]="teamNode.tel"
        ></ion-input>
         </ion-item>
      

    <div class="error" *ngFor="let validate of validation_messages.tel">
      <div class="messages" style="color:rgb(221, 137, 137)"
        *ngIf="addTeamForm.get('tel').hasError(validate.type) && (addTeamForm.get('tel').dirty || addTeamForm.get('tel').touched)">
        <p>{{validate.message}}</p>
      </div>
    </div>


    <br>
<div class="buttoning">
<!--  [disabled]="!addTeamForm.valid" -->

<ion-button  [disabled]="!addTeamForm.valid" size="small" color="success" id="skip" (click)="createTeam(addTeamForm)" type="submit" ion-button
>
Save</ion-button>
</div>
  </form>
  </div>
</div>
</ion-content>