<ion-content>
  
  <div class="creator animated bounceIn" color="primary" (click)="add()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </div>
  <div class="glowLine">
    
  </div>
  <div class="topPart">
    <div class="head">
      <div class="backer">
        <ion-fab-button size="small" color="light" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="hTitle">
        <p>Player Info</p>
      </div>
    </div>
    <div class="shad">
      <div class="pInfo ion-padding" *ngIf="viewPlayer.docdata">
        <h1>{{viewPlayer.docdata.fullName}}</h1>
        <p>{{viewPlayer.docdata.playerPosition}}</p>
        <p *ngIf="viewPlayer.docdata.previousTeam!='none'"><b>{{viewPlayer.docdata.previousTeam}}</b></p>
        <p *ngIf="viewPlayer.docdata.previousTeam=='none'"><b>No Previous Team</b></p>
        <p><b>{{viewPlayer.docdata.height}}m tall</b></p>
        <p> <b>{{viewPlayer.docdata.Achievements}}</b>
        </p>
      </div>
      <div class="ion-padding custom-skeleton" style="width: 100vw;" *ngIf="!viewPlayer.docdata">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
    </div>
    <div class="former">
      <div class="playerCard animated fadeInUp" *ngFor="let item of players;let i = index" (click)="viewInfo(item, i)"
        [ngClass]="{'bounceIn':selectedId==i}">
        <div class="image">
          <img src="{{item.docdata.palyerImage}}" alt="">
          <div class="edit">
            <ion-fab-button size="small" color="success" (click)="edit(item)">
              <ion-icon name="create"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
        <div class="name" [ngClass]="{'selected':selectedId==i}" >
          <div class="p">
            <p>{{item.docdata.fullName}}</p>
          </div>
        </div>
      </div>
      <div class="playerCard" *ngFor="let item of arr">
        <div class="image">
          <!-- <img src="{{item.docdata.palyerImage}}" alt=""> -->
        </div>
        <div class="name">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>