.creator {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 40;
}

ion-item {
    --background: rgba(51, 117, 117, 0);
    --color: black;

}

.error {
    .messages {
        background: rgba(255, 0, 0, 0.068);
        color: red;
        padding: 10px;
        border-radius: 10px;
        margin: 5px;

        p {
            color: red !important;
            margin: 0;
            padding: 0 10px;
            font-size: 3vw;
        }
    }

}

.achievements {
    // background: rgba(0, 128, 0, 0.253);
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;

    .btn {
        position: absolute;
        bottom: -25px;
        right: 0;
    }

    .closer {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 900;
        transform: translateY(-50%);
    }

}
.dFH {

}
.editor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.253);
    align-items: center;
    z-index: 200;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 1;

    .formet {
        margin: auto;
        width: 90vw;
        height: 90vh;
        border-radius: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        padding-top: 20px;
        background: whitesmoke;

        .titler {
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 10%;
            display: flex;
            align-items: center;
            background: white;
            z-index: 2000;
            p {
                margin: 5px auto;
            }
        }
        .subButton {
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1000;
            background: white;
        }
        .former {
            width: 90%;
            margin: 10% auto 0% auto;
            height: 90%;
            overflow-y: auto;
            padding: 5% 5% 12% 5%;
            background: whitesmoke;
        }
    }
}

.editor-hide {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.253);
    align-items: center;
    z-index: 200;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 0;
    transform: scale(.5);

    .formet {
        margin: auto;
        width: 90vw;
        height: 90vh;
        border-radius: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        padding-top: 20px;
        background: whitesmoke;

        .titler {
            height: 20%;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;

            p {
                margin: 5px auto;
            }
        }

        .former {
            height: 60%;
            width: 90%;
            margin: auto;

            .subButton {
                height: 20%;
            }
        }
    }
}
.imager {
    width: 100%;
    height: 48vw;
    background: white;
    border-radius: 20px;
    box-shadow: var(--drop-shadow);
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .imagePicker {
        position: absolute;
        bottom: 0;
        right: 0;
        background: whitesmoke;
        border-radius: 20px 0px;
    }
}
.selected {
    background: #F3511D !important;
    color: white;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: .9;
}

.topPart {
    background: radial-gradient(#f4f5f885,#f4f5f8),url(../../../assets/players/player.svg) no-repeat top right;
    background-position-y: -20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .head {
        display: flex;
        align-items: center;

        .hTitle {
            flex-basis: 100%;
            text-align: center;
            padding-right: 50px;

            p {
                margin: 0;
                font-family: "Neou" !important;
                font-size: 4vw;
                text-transform: uppercase;
            }
        }
    }

    .shad {
        box-shadow: var(--drop-shadow);
        border-radius: var(--radius);
        display: flex;
        align-content: center;

        .pInfo {
            margin: auto;
            width: 90%;
            padding: 5px !important;
            h1 {
                font-size: 10vw !important;
                margin: 10px 0px !important;
            }

            p {
                font-size: 3.6vw !important;
                margin: 0 !important;
            }

            b {
                opacity: .7;
            }
        }
    }

    .former {
        width: 90%;
        background: #0BBB72;
        margin: auto;
        border-radius: var(--radius);
        padding: 5px 10px;
        overflow-y: auto;
        box-shadow: var(--drop-shadow), inset 0px 3px 3px #17171742;
        .fList {
            
        }
        .playerCard {
            width: 100%;
            margin: 10px auto;
            .image {
                width: 100%;
                height: 45vw;
                background: whitesmoke;
                border-radius: 20px;
                box-shadow: var(--drop-shadow);
                overflow: hidden;
                position: relative;

                .edit {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 10;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .name {
                width: 80%;
                margin: auto;
                box-shadow: var(--drop-shadow);
                padding: 10px;
                text-align: center;
                background: whitesmoke;
                border-radius: var(--radius);

                p {
                    margin: 0;
                    text-align: center;

                }
            }
        }
    }

    @media only screen and (min-height: 500px) {
        .former {
            width: 90%;
            background: #0BBB72;
            margin: auto;
            height: 58vh;
            border-radius: var(--radius);
            padding: 5px 10px;
            overflow-y: auto;
        }
    }

    @media only screen and (min-height: 568px) {
        .former {
            width: 90%;
            background: #0BBB72;
            margin: auto;
            height: 62vh;
            border-radius: var(--radius);
            padding: 5px 10px;
            overflow-y: auto;
        }
    }

    @media only screen and (min-height: 667px) {
        .former {
            width: 90%;
            background: #0BBB72;
            margin: auto;
            height: 64vh;
            border-radius: var(--radius);
            padding: 5px 10px;
            overflow-y: auto;
        }
    }

    @media only screen and (min-height: 736px) {
        .former {
            width: 90%;
            background: #0BBB72;
            margin: auto;
            height: 66vh;
            border-radius: var(--radius);
            padding: 5px 10px;
            overflow-y: auto;
        }
    }

    @media only screen and (min-height: 812px) {
        .former {
            width: 90%;
            background: #0BBB72;
            margin: auto;
            height: 71vh;
            border-radius: var(--radius);
            padding: 5px 10px;
            overflow-y: auto;
        }
    }

    @media only screen and (min-height: 823px) {
        .former {
            width: 90%;
            background: #0BBB72;
            margin: auto;
            height: 70vh;
            border-radius: var(--radius);
            padding: 5px 10px;
            overflow-y: auto;
        }
    }

    @media only screen and (min-height: 1024px) {
        .former {
            width: 90%;
            background: #0BBB72;
            margin: auto;
            height: 69vh;
            border-radius: var(--radius);
            padding: 5px 10px;
            overflow-y: auto;
        }
    }

}