.noTeam {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../../../assets/popover_bg.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    .c {
        text-align: center;
        margin: auto;
    }
    z-index: 2000;
}
.head {
    width: 100%;
    height: 28%;
    background: linear-gradient(#000D06,#014023), url(../../../assets/greenbg.jpg);
    background-size: cover;

    border-radius: 0px 0px 10px 10px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .title {
        flex-basis: 100%;
        height: 20%;
        display: flex;
    align-items: center;
    border-bottom: solid 1px #05A66B;
    .close {
        padding: 3px;
    }
    .t {
        flex-basis: 100%;
        text-align: center;
        display: flex;
        h5 {
            font-size: 5vw;
            margin: 0;
        }
    }
    }
    .details {
        height: 70%;
        text-align: center;
        display: flex;
        align-items: center;
        position: relative;
        .d {
            backdrop-filter: blur(10px);
            border-radius: 10px;
            margin: auto;
            width: 70%;
            text-align: center;
            p {
                font-size: 4vw;
            }
        }
        .logos {
            position: absolute;
            bottom: -16%;
            left: 10%;
            right: 10%;
            display: flex;
            justify-content: space-evenly;
            img {
                width: 30px;
                height: 30px;
                border-radius: 3px;
            }
        }
    }
    

}
.teamList {
    z-index: 5;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 27%;
    padding-top: 10px;
    color: white;
    background: linear-gradient(rgba(0, 31, 7, 0.295)),url(https://images.unsplash.com/photo-1511439664149-58b346f60448?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
    background-position: 100% 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    .label {
        backdrop-filter: blur(10px);
        height: 10%;
        background: #05a66b82;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 5px;
        border-bottom: solid 1px #05A66B;
        border-top: solid 1px #05A66B;
        p {
            padding: 0px 18px;
        }
    }
    .list {
        height: 89%;
        overflow-y: auto;
        .card {
            width: 90% ;
                        height: 125px;
            background: white;
            border-radius: 10px;
            margin: 10px auto;
            color: black !important;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .playerInformation {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 20;
                left: 20%;
                border-radius: 10px;
                background: white;
                display: flex;
                align-items: center;
                div {
                    margin: auto;
                    max-width: 90%;
                    max-height: 90%;
                    overflow: auto;
                }
                p {
                    margin: 0;
                }
                

            }
            .details {
                border-radius: 10px;
                padding: 5px;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                backdrop-filter: blur(10px);
                display: flex;
                align-items: center;
                overflow-y: auto;
                color: rgb(255, 255, 255);
                z-index: 5;
                p {
                    font-size: 3vw;
                    text-shadow: 0px 1px 2px #1717177c;
                }
            }
        }
    }
}