.backB {
    position: fixed;
    top: 0;
    left: 0;
}

.playerInfo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    background: rgba(1, 27, 0, 0.274);
    z-index: 20;

    .playerData {
        width: 80%;
        // height: 80%;
        background: white;
        border-radius: 10px;
        border-top: solid 2px #05A66B;
        border-bottom: solid 2px #05A66B;
        margin: auto;
        box-shadow: 0px 0px 5px #17171796;
        overflow: hidden;

        .image {
            width: 100%;
            height: 45vw;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .details {
            width: 100%;
            height: 60%;
            padding: 10px;

            .clos {
                width: 100%;
                text-align: center;
            }
        }
    }
}

.teamInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #17171762;
    display: none;
    align-items: center;
    z-index: 25;

    .teamData {
        margin: auto;
        width: 60%;
        /* height: 70%; */
        background: white;
        border-radius: 10px;
        border-top: solid 2px #05A66B;
        border-bottom: solid 2px #05A66B;
        position: relative;
        padding: 20% 5px 5px 5px;
        text-align: center;

        .goalKeeperJersey {
            position: absolute;
            width: 20vw;
            height: 20vw;
            top: -9%;
            left: -3%;
            border-radius: 200px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .teamLogo {
            position: absolute;
            width: 30vw;
            height: 30vw;
            top: -17%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 200px;
            overflow: hidden;
            z-index: 21;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .playerJersey {
            position: absolute;
            width: 20vw;
            height: 20vw;
            top: -9%;
            right: -3%;
            border-radius: 200px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.matchDetails {
    width: 100%;
    height: auto;
    background: #012615;
    color: white;

    .match {
        display: flex;
        padding: 50px 10px 10px 10px;

        .homeTeam {
            flex-basis: 40%;
            text-align: center;

            .image {
                border-radius: 200px;
                overflow: hidden;
                width: 28vw;
                height: 28vw;
                margin: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .matchDetails {
        flex-basis: 20%;
        text-align: center;

        p {
            font-size: 3.5vw;
        }

        h3 {
            font-size: 5vw;
        }
    }

    .awayTeam {
        flex-basis: 40%;
        text-align: center;

        .image {
            border-radius: 200px;
            overflow: hidden;
            width: 28vw;
            height: 28vw;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


    }
}

.data {
    position: absolute;

    height: 64%;
    left: 0;
    right: 0;
    display: flex;

    .playerList {
        flex-basis: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;

        .homePlayers,
        .awayPlayers {
            flex-basis: 50%;
            height: 100%;
            overflow-y: auto;
            padding: 10px;

            .card {
                width: 100%;
                margin: 0px auto 5px auto;
                background: #05A66B;
                color: white;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0px 2px 2px #17171723;
                position: relative;

                p {
                    font-size: 3vw;
                    margin: 0;
                }

                .position {
                    position: absolute;
                    bottom: 0;
                    right: 5px;

                    p {
                        font-size: 2vw;
                    }
                }
            }
        }

    }

    .summary {
        flex-basis: 100%;
        background: none;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
}