ion-chip {
    --background: white !important;
    margin: 3px auto !important;
    width: 100% !important;
    text-align: center;
    display: flex !important;
    justify-content: space-evenly !important;

    ion-label {
        font-size: 3vw !important;
        font-family: 'Muller Bold' !important;
        // font-weight: bolder;
    }
}


.playerInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    border-radius: 0px 0px 20px 20px;
    z-index: 20;
    bottom: 20vh;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 3px 10px #17171734;
    transform: translateY(-100vh);
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);

    .img {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .det {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: whitesmoke;

        padding: 20px;

        h1 {
            margin: 0;
            font-size: 5vw;
        }

        p {
            font-size: 3.4vw;
            margin: 0;
        }
    }

    .close {
        position: absolute;
        z-index: 60;
        bottom: 0;
        right: 0;
    }
}

.oPlayer {
    transform: translateY(0vh) !important;
    transition: 0.4s;

    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.cPlayer {
    transform: translateY(-100vh) !important;
    transition: 0.4s;

    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.teamInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: whitesmoke;
    border-radius: 0px 0px 20px 20px;
    z-index: 20;
    bottom: 50vh;
    overflow: hidden;
    box-shadow: 0px 3px 10px #17171734;
    transform: translateY(-50vh);
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);

    .images {
        position: relative;
        display: flex;
        width: 100%;
        height: 65%;

        .jersey {
            width: 30vw;
            height: 70%;
            background: white;
            box-shadow: 0px 3px 5px #17171752;
            border-radius: 10px;
            overflow: hidden;
            position: absolute;
            left: 10%;
            top: 14px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .logo {
            width: 30vw;
            height: 90%;
            background: white;
            box-shadow: 0px 3px 5px #17171752;
            border-radius: 10px;
            overflow: hidden;
            position: absolute;
            top: 10px;
            margin-left: 50%;
            transform: translateX(-50%);
            z-index: 90;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .keeper {
            width: 30vw;
            height: 70%;
            background: white;
            box-shadow: 0px 3px 5px #17171752;
            border-radius: 10px;
            overflow: hidden;
            position: absolute;
            top: 14px;
            right: 10%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    .t {
        text-align: center;
        display: flex;
        align-items: center;
        width: 100% ;
        height: 35%;
        .s {
            margin: auto;
        }
        h1 {
            font-size: 8vw !important;

        }
        p {
            font-size: 3.3vw !important;
        }
        h1, p {
            margin: 0;
        }
    }
    .close {
        position: absolute;
        z-index: 60;
        bottom: 0;
        right: 0;
    }
}

.oTeam {
    transform: translateY(0vh) !important;
    transition: 0.4s;

    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.cTeam {
    transform: translateY(-50vh) !important;
    transition: 0.4s;

    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.topPart {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .data {
        background: white;
        box-shadow: 0px 4px 10px #1717172d;
        border-radius: 0px 0px 20px 20px;

        .head {
            width: 100%;
            display: flex;
            align-items: center;

            .backer {}

            .title {
                text-align: center;
                flex-basis: 100%;

                p {
                    font-size: 8vw;
                    margin: 0;
                    text-transform: uppercase;
                }
            }
        }

        .status {
            padding: 3px 0px;
            display: flex;
            align-items: center;
            margin: 13px 0px;

            .line {
                flex-basis: 90%;
                display: flex;
                align-content: center;

                .l {
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg,#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
                }
            }

            .text {
                flex-basis: 10%;
                text-align: center;
                padding: 0px 3px;

                p {
                    margin: 0;
                    font-size: 3vw;
                    text-transform: uppercase;
                }
            }
        }

        .location {
            padding: 3px 0px;
            text-align: center;

            p {
                margin: 0;
                font-size: 3.2vw;
            }
        }

        .teams {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-evenly;
            margin: 3vw 0px;

            .home,
            .away {
                flex-basis: 45%;
                display: flex;
                align-items: center;

                .name {
                    flex-basis: 99%;
                    position: relative;

                    p {
                        margin: 0;
                        font-size: 3vw;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .ind {
                        position: absolute;
                        bottom: -27px;
                        background: red;
                        color: white;
                        border-radius: 200px;
                        padding: 3px;
                        opacity: .7;

                        p {
                            font-size: 2.3vw;
                        }
                    }
                }

                .img {
                    background: whitesmoke;
                    min-width: 14vw;
                    max-width: 14vw;
                    height: 14vw;
                    border-radius: 8px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .home {
                .name {
                    .ind {
                        left: 5px;
                    }
                }
            }

            .away {
                .name {
                    .ind {
                        right: 5px;
                    }
                }
            }

            .v {
                flex-basis: 10%;
                text-align: center;

                p {
                    font-family: 'Muller';
                    margin: 0;
                }
            }
        }

        .largeScore {
            text-align: center;
            display: flex;
            justify-content: space-evenly;

            p {
                margin: 0;
                font-size: 20vw;
                font-weight: bold;
                font-family: 'Nasal' !important;
            }
        }

        .segms {
            .filters {
                height: var(--home-filter-height);
                background: rgb(250, 250, 250);
                display: flex;
                // justify-content: space-evenly;
                align-items: center;
                border-radius: 200px;
                margin: 10px 10px 0px 10px;
                box-shadow: 3px 3px 5px #2727271f, -3px -3px 5px #ffffff;
                overflow-x: auto;

                ion-button {
                    margin: 0px auto;
                    padding: 5px 0px;
                    height: 76%;
                    color: black;
                    width: 50%;

                    #text {
                        font-size: 3vw;
                    }
                }

                .selected {
                    transition: 0.3s;
                    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                    background: whitesmoke !important;
                    border-radius: 200px;
                    box-shadow: inset 2px 2px 2px #2727271f, inset -2px -2px 2px #ffffff;
                    text-shadow: 3px 3px 5px #2727271f, -3px -3px 5px #1717175c;
                }
            }
        }
    }

    .lineUp {
        width: 90%;
        margin: auto;
        height: 30vh;
        background: #EA4F1E;
        overflow: hidden;
        border-radius: 0px 0px 20px 20px;
        -webkit-box-shadow: 0px 25px 20px -16px rgba(171, 171, 171, 1);
        -moz-box-shadow: 0px 25px 20px -16px rgba(171, 171, 171, 1);
        box-shadow: 0px 25px 20px -16px rgba(171, 171, 171, 1);

        .con {
            width: 100%;
            height: 100%;
            color: red;
            display: flex;
            flex-basis: 100%;

            .home,
            .away {
                flex-basis: 50%;
                height: 98%;
                border-radius: 0px 0px 20px 20px;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 0px 4px;
                align-content: center;
            }

            .home {
                border-right: dashed 1px white;
            }

            .away {
                border-left: dashed 1px white;
            }
        }

        .stat {
            height: 100%;
            flex-basis: 100%;
            width: 100%;
            position: absolute;
            color: white;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .h,
            .s,
            .a {
                text-align: center;

                p {
                    margin: 10px 0;
                    font-size: 4vw;
                }
            }
        }
    }
}


.goalscorers {
    background: radial-gradient(#fafafa, #ffffff);
    background-position-y: -83px;
    height: 50vh;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    z-index: 20;
    box-shadow: 0px -25px 21px -16px rgba(171, 171, 171, 1);
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    transform: translateY(45vh);
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);

    .title {
        text-align: center;
        height: 10%;
        background: whitesmoke;
        display: flex;
        align-content: center;

        p {
            margin: 0;
            padding: 5px 0px;
            font-family: "Muller";
            text-transform: uppercase;
            font-size: 4vw;
            text-align: center;
            margin: auto;
        }
    }

    .lister {
        width: 100%;
        height: 90%;
        display: flex;

        .ho,
        .aw {
            ion-chip {
                --background: rgb(228, 228, 228) !important;
                margin: 3px auto !important;
                width: 100% !important;
                text-align: center;
                display: flex !important;
                justify-content: space-evenly !important;

                ion-label {
                    font-size: 3vw !important;
                    font-family: 'Muller Bold' !important;
                    
                    // font-weight: bolder;
                }
            }

            flex-basis: 50%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.gClose {
    transform: translateY(45vh) !important;
    transition: 0.4s;

    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.gOpen {
    transition: 0.4s;
    transform: translateY(0vh) !important;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}