<ion-content>
<div class="container">
    <div class="playerInfo animated" [ngClass]="{'bounceInDown':viewPlayer,'bounceOutUp':!viewPlayer}">
        <div class="playerData">
            <div class="image">
                <img *ngIf="!playerViewed.palyerImage"  src="../../../assets/nathi_noImage.png" alt="">
            <img *ngIf="playerViewed.palyerImage"  src="{{playerViewed.palyerImage}}" alt="">
            </div>
            <div class="details">
            <h2>{{playerViewed.fullName}}</h2>
                <hr>
                <p>{{playerViewed.playerPosition}}</p>
            <p>Previous Team {{playerViewed.previousTeam}}</p>
            <p>{{playerViewed.height}}m tall</p>
                <div class="clos">
                    <ion-button shape="round" (click)="player('away','close', null)">
                        Close
                    </ion-button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="teamInfo animated" [ngClass]="{'bounceInDown':viewTeam,'bounceOutUp':!viewTeam}">
        <div class="teamData" *ngIf="teamSide=='home'" >
            <div class="goalKeeperJersey image">
                <img *ngIf="object.TeamObject.goalKeeperJerseyIMG" src="{{object.TeamObject.goalKeeperJerseyIMG}}" alt="">
                <img *ngIf="!object.TeamObject.goalKeeperJerseyIMG"  src="../../../assets/nathi_noImage.png" alt="">
            </div>
            <div class="teamLogo m-image">
                <img *ngIf="object.TeamObject.teamLogo" src="{{object.TeamObject.teamLogo}}" alt="">
                <img *ngIf="!object.TeamObject.teamLogo"  src="../../../assets/nathi_noImage.png" alt="">
            </div>
            <div class="playerJersey image">
                <img *ngIf="object.TeamObject.teamJerseyIMG" src="{{object.TeamObject.teamJerseyIMG}}" alt="">
                <img *ngIf="!object.TeamObject.teamJerseyIMG"  src="../../../assets/nathi_noImage.png" alt="">
            </div>
            <div class="information">
                <h1>{{object.TeamObject.teamName}}</h1>
                <hr>
                <p>Coach: {{object.TeamObject.coachName}}</p>
                <p> {{object.TeamObject.tel}}</p>
                <p>Based in  {{object.TeamObject.region}}</p>
                <div class="clos">
                    <ion-button shape="round" (click)="team('away', 'close', null)">
                        Close
                    </ion-button>
                </div>
            </div>
        </div>
        <div class="teamData" *ngIf="teamSide=='away'">
            <div class="goalKeeperJersey image">
                <img *ngIf="object.aTeamObject.goalKeeperJerseyIMG"  src="{{object.aTeamObject.goalKeeperJerseyIMG}}" alt="">
                <img *ngIf="!object.aTeamObject.goalKeeperJerseyIMG" src="../../../assets/nathi_noImage.png" alt="">
            </div>
            <div class="teamLogo m-image">
                <img *ngIf="object.aTeamObject.teamLogo"  src="{{object.aTeamObject.teamLogo}}" alt="">
                <img *ngIf="!object.aTeamObject.teamLogo" src="../../../assets/nathi_noImage.png" alt="">
            </div>
            <div class="playerJersey image">
                <img *ngIf="object.aTeamObject.teamJerseyIMG" src="{{object.aTeamObject.teamJerseyIMG}}" alt="">
                <img *ngIf="!object.aTeamObject.teamJerseyIMG" src="../../../assets/nathi_noImage.png" alt="">
            </div>
            <div class="information">
                <h1>{{object.aTeamObject.teamName}}</h1>
                <hr>
                <p>Coach: {{object.aTeamObject.coachName}}</p>
                <p> {{object.aTeamObject.tel}}</p>
                <p>Based in  {{object.aTeamObject.region}}</p>
                <div class="clos">
                    <ion-button shape="round" (click)="team('away', 'close', null)">
                        Close
                    </ion-button>
                </div>
            </div>
        </div>
    </div>

    <div class="backB">
        <ion-fab-button shape="round" size="small" (click)="goBack( )">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </div>
    <div class="matchDetails">
<div class="match" >
    <div class="homeTeam">
        <div class="image" (click)="team('home','open')">
            <img *ngIf="!object.TeamObject.teamLogo"  src="../../../assets/nathi_noImage.png" alt="">
            <img *ngIf="object.TeamObject.teamLogo"  [src]="object.TeamObject.teamLogo" alt="No Logo">
        </div>
        <div class="teamName">
    {{object.TeamObject.teamName}}
        </div>
    </div>
    <div class="matchD">
        <p>v</p>
        <h3>{{object.score}} FT {{object.ascore}}</h3>
        <p>{{object.mins}}:{{object.secs}}</p>
    </div>
    <div class="awayTeam">
        <div class="image" (click)="team('away','open')">
            <img *ngIf="!object.aTeamObject.teamLogo"  src="../../../assets/nathi_noImage.png" alt="">
            <img *ngIf="object.aTeamObject.teamLogo"  [src]="object.aTeamObject.teamLogo" alt ="No Logo">
        </div>
        <div class="teamName">
            {{object.aTeamObject.teamName}}
        </div>
    </div>
</div>
        <div class="segment">
            <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segmentVal" >
                <ion-segment-button color="light" value="lineup" color="light">
                    <ion-label>Line Up</ion-label>
                </ion-segment-button>
                <ion-segment-button color="light" value="summary">
                    <ion-label>Summary</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
<div class="data">
    <div class="playerList animated" [ngClass]="{'bounceInLeft':segmentVal=='lineup','bounceOutLeft':segmentVal=='summary'}">
        <div class="homePlayers">
            <div class="card" *ngFor="let item of homeplayers" (click)="player('home','open', item)">
                <p>{{item.fullName}}</p>
                <div class="position">
                    <p>{{item.playerPosition}}</p>
                </div>
            </div>
        </div>
        <div class="awayPlayers">
            <div class="card" *ngFor="let item of awayplayers" (click)="player('away','open', item)">
                <p>{{item.fullName}}</p>
                <div class="position">
                    <p>{{item.playerPosition}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="summary animated" [ngClass]="{'bounceInRight':segmentVal=='summary','bounceOutRight':segmentVal=='lineup'}">
        <div class="homeStats">
            <p>{{corner}}</p>
            <p>{{red}}</p>
            <p>{{yellow}}</p>
            <p>{{offside}}</p>
           
        </div>
        <div class="labels">
            <p>Corners</p>
            <p>Red Cards</p>
            <p>Yellow Cards</p>
            <p>Offsides</p>
        </div>
        <div class="awayStats">
            <p>{{acorner}}</p>
            <p>{{ared}}</p>
            <p>{{ayellow}}</p>
            <p>{{aoffside}}</p>
           
        </div>
    </div>
</div>
<div  [ngClass]="{'goalScorers': viewStatistics, 'goalScorers-hide':!viewStatistics}" >
    <div class="title" (click)="viewStats()">
        <p>Statistics <sup>(GOALS)</sup></p>
    </div>
    <div class="list">
        <div class="t">
            <p>Home</p>
            <p>Away</p>
        </div>
        <div class="home">
            <div class="card" *ngIf="!object.goal" >
                <p style="padding:10px;
                ;">No Information</p>
            </div>
            <div class="card" *ngFor="let item of object.goal" >
                <div class="name">
                <p>{{item.goalscorer}}</p>
                </div>
                <div class="time">
                <p>{{item.scoretime}}</p>
                </div>
            </div>
        </div>
        <div class="away">
            <div class="card" *ngIf="!object.agoal" >
                <p style="padding: 10px;
                ;">No Information</p>
            </div>
            <div class="card" *ngFor="let item of object.agoal" >
                <div class="name">
                    <p>{{item.goalscorer}}</p>
                </div>
                <div class="time">
                    <p>{{item.scoretime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</ion-content>