.segment-card {
    display: flex;
    overflow-x: scroll;
    // background: linear-gradient(#000D06,#012615);
    
    .segment-item {
        display: inline-block !important;
        min-width: 100px !important;
        width: auto !important;
        color: rgb(51, 51, 51) !important;
    }
}
ion-icon {
    transform: scale(1.6) !important;
  }
.segment-card::after {
    content: "";
    position: fixed;
    top: 10%;
    right: 0;
    bottom: 10%;
    width: 5px;
    /* height: 26px; */
    z-index: 900;
    background: orange;
    color: rgb(73, 73, 73);
    border-radius: 8px 0px 0px 8px;
}
.segment-card::before {
    content: "";
    position: fixed;
    top: 10%;
    left: 0;
    bottom: 10%;
    width: 5px;
    /* height: 26px; */
    z-index: 900;
    background: orange;
    color: rgb(37, 37, 37);
    border-radius: 0px 8px 8px 0px;
}
.hydrated {
    visibility: inherit;
    // background: radial-gradient(black, transparent),rgb(0, 27, 0);
}
ion-tab-bar {
    // background: red !important;
    // height: 0 !important;
}