.indicator {
    height: 3px;
    position: absolute;
    width: 5vw;
    background: #000D06;
    bottom: 56px;
    left: 0;
    border-radius: 200px;
    transform-origin: center;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: translateX(7.4vw);
}

.home0 {
    transform: translateX(7.4vw);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.apply {
    transform: translateX(27.1vw);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.team {
    transform: translateX(47.3vw);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.profile {
    transform: translateX(67.5vw);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.faq {
    transform: translateX(87.2vw);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.segment-card {
    display: flex;
    overflow-x: scroll;
    // background: linear-gradient(#000D06,#012615);

    .segment-item {
        display: inline-block !important;
        min-width: 100px !important;
        width: auto !important;
        color: rgb(51, 51, 51) !important;
    }
}

ion-icon {
    transform: scale(1.3) translateY(2px) !important;
}

.segment-card::after {
    content: "";
    position: fixed;
    top: 10%;
    right: 0;
    bottom: 10%;
    width: 5px;
    /* height: 26px; */
    z-index: 900;
    background: orange;
    color: rgb(73, 73, 73);
    border-radius: 8px 0px 0px 8px;
}

.segment-card::before {
    content: "";
    position: fixed;
    top: 10%;
    left: 0;
    bottom: 10%;
    width: 5px;
    /* height: 26px; */
    z-index: 900;
    background: orange;
    color: rgb(37, 37, 37);
    border-radius: 0px 8px 8px 0px;
}

.hydrated {
    visibility: inherit;
    // background: radial-gradient(black, transparent),rgb(0, 27, 0);
}

ion-tab-button {
    border-radius: 15px;
    background: #efefef;
    box-shadow:  -2px 2px 2px #bfbfbf, 2px -2px 2px #ffffff;
    margin: 0px 5px !important;
    height: 90%;
}

ion-tab-bar {
    background: #efefef !important;
    // height: 0 !important;
    border: none !important;
    padding: 2px 0px;
}