.container {
    height: 100%;
    width: 100%;
    display: flex;
    .links {
        width: 37%;
        height: 100%;
        display: flex;
        align-items: center;
        background: url(../../../assets/bendedFootballField.svg) no-repeat ,linear-gradient(rgba(0, 13, 6, 0)) ;
        background-position: 25% 80%;
        background-size: 165%;
        color: rgb(32, 32, 32);
        text-align: center;
        div {
            width: 80%;
            margin: auto;
        }
        p {
            margin: 0;
            font-size: 3vw;
        }
        h1 {
            background: rgba(255, 255, 255, 0.11);
            border-radius: 8px;
            font-size: 3vw;
            padding : 10px;
            margin: 5px;
            box-shadow: 0px 3px 3px #17171717;
        }
    }

    .information {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        .divide {
            width: 96%;
            max-height: 90vh;
            overflow-y: auto;
            margin:10px auto;
            padding-inline-start: 10px;
            border-bottom: solid 1px black;
            box-shadow: 0px 2px 3px #1717172f;
            background: rgb(245, 245, 245);
            p {
                font-size: 3vw;
            }
        }
    }
}