<ion-content>
  <div class="oneData animated fadeInDown faster">
<div class="shad animated fadeIn delayer1">
  <div class="title">
    <div class="backer">
      <ion-fab-button (click)="goBack()" size="small" color="light">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </div>


    <ion-button class="animated fadeIn" *ngIf="viewedTournament.state=='newTournament'&&applytournaments=='checking'&&!role"  size="small" color="success" disabled='true' fill='clear'>
      <ion-spinner name="lines"></ion-spinner>
    </ion-button>


    <ion-button class="animated" [ngClass]="{'bounceIn':viewedTournament.state=='newTournament'&&applytournaments=='no'}"  *ngIf="role=='user'"  size="small" color="danger" >
      Sign In or Sign Up
    </ion-button>


    <ion-button class="animated" [ngClass]="{'bounceIn':applytournaments=='no'}"  *ngIf="viewedTournament.state=='newTournament'&&!application&&applytournaments=='no'"  size="small" color="success" (click)="applyForTournament()">
      Apply
    </ion-button>


    <ion-button class="animated" [ngClass]="{'bounceIn':applytournaments!='checking'}" *ngIf="application.status=='awaiting'&&applytournaments!='checking'"  size="small" color="success" disabled='true'>
      Application Pending
    </ion-button>


    <ion-button class="animated" [ngClass]="{'bounceIn':application.status=='accepted'&&applytournaments!='checking'}" *ngIf="application.status=='accepted'&&applytournaments!='checking'"  size="small" color="success" disabled='true'>
      Application Accepted
    </ion-button>


    <ion-button class="animated fadeIn slow" *ngIf="viewedTournament.state=='finished'&&role!=='user'"  size="small" color="success">
      {{match.winner.teamName}} won
    </ion-button>
  </div>
    <div class="data">
    <h1>{{viewedTournament.formInfo.tournamentName}}</h1>
      <p id="desc" style="font-size: 3vw;">{{viewedTournament.formInfo.bio}}.</p>
    </div>
    <div class="more">
      <div class="date">
        <ion-icon src="../../../assets/noun_date_2080425.svg"></ion-icon>
        <p>{{viewedTournament.formInfo.startDate | date}}</p>
      </div>
      <div class="location">
        <ion-button (click)="go()" fill="clear" size="small">
  <ion-icon src="../../../assets/noun_Location_3076235.svg"  ></ion-icon>
        </ion-button>
      
        <p>{{viewedTournament.address.address}}</p>
      </div>
    </div>
</div>
      <div class="participants animated fadeIn delayer2 fast">
        <div class="pTitle">
          <h4 >Participants</h4>
        </div>
        <div class="plist">
          <div class="img animated fadeInLeft" *ngFor="let item of participants" >
            <img src="{{item.teamLogo}}" alt="">
          </div>
        </div>
        <div class="dSegms">
          <div class="filters animated fadeIn faster">

            <ion-button *ngIf="match.type16.length>0"  class="filters animated fadeIn faster" [ngClass]="{'selected':filterBy=='top32'}" color="dark" (click)="segmentChanged('top32')"
                style="font-size: 3vw;" size="small" fill="clear" >
                Top 32
            </ion-button>

            <ion-button *ngIf="match.type8.length>0" class="filters animated fadeIn faster" [ngClass]="{'selected':filterBy=='top16'}" color="dark" (click)="segmentChanged('top16')"
                style="font-size: 3vw;" size="small" fill="clear" >
                Top 16
            </ion-button>

            <ion-button *ngIf="match.type4.length>0" class="filters animated fadeIn faster" [ngClass]="{'selected':filterBy=='top8'}" color="dark" (click)="segmentChanged('top8')"
                style="font-size: 3vw;" size="small" fill="clear" >
                Top 8
            </ion-button>

            <ion-button *ngIf="match.type2.length>0" class="filters animated fadeIn faster" [ngClass]="{'selected':filterBy=='top4'}" color="dark" (click)="segmentChanged('top4')" style="font-size: 3vw;"
                size="small" fill="clear" >
                Semi-Final
            </ion-button>

            <ion-button *ngIf="match.type1.length>0" class="filters animated fadeIn faster" [ngClass]="{'selected':filterBy=='top1'}" color="dark" (click)="segmentChanged('top1')" style="font-size: 3vw;"
                size="small" fill="clear" >
                Final
            </ion-button>
            <h1 style="margin: auto; text-align: center;" class="filters animated fadeIn faster" *ngIf="filterBy=='nothing'" >
              Next Division is being setup
            </h1>
        </div>
        </div>
      </div>
  </div>

  <div class="threeData">
    <div class="matchs animated fadeIn delayer1">
      <div class="matchList">
        <div class="m animated fadeInRight delayer2" [ngClass]="{'nMargin':tournMatches.length>1,'cMargin':tournMatches.length==1}" *ngFor="let item of tournMatches" (click)="viewMatch(item)" >
          <div class="mStatus">
            <ion-button size="small" shape="round"  color="danger" >
              Live Now
            </ion-button>
          </div>
          <div class="teams">
            <div class="h"><div class="img"><img src="{{item.TeamObject.teamLogo}}" alt=""></div></div>
            <div class="v"><p>11:22</p></div>
            <!-- [ngStyle]="{'background': 'url(' + sampImg + ') no-repeat 0 0 / cover'}" -->
            <div class="a" ><div class="img"><img src="{{item.aTeamObject.teamLogo}}" alt=""></div></div>
          </div>
          <div class="data">
            <h5>{{viewedTournament.formInfo.location}}</h5>
            <p>{{item.matchdate | date:'MMM dd'}} - {{item.matchdate | date:'shortTime'}}</p>
          </div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>