<ion-content>
  <div class="bended">
   <h1>Nathi's</h1>
   <p>Tournaments</p>
  </div>
  <div class="close">
    <ion-fab-button size="small" color="light" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </div>

  <div class="container">
    <div id="recaptcha-container"></div>
    <form [formGroup]="registrationForm" (ngSubmit)="emailLogin(registrationForm.value)">
      
      <h4>Welcome back</h4>
<!--
  <ion-item lines="none" style="background: none;
      color: rgb(0, 0, 0);border-radius: 5px;">
        <ion-label position="floating" style="color: rgb(24, 24, 24);">Phone Number</ion-label>
        <ion-input style="
      border-bottom: solid 2px white;
       color: rgb(34, 34, 34)
      " formControlName="phoneNumber" type="tel" maxlength="10" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>
-->
    

       <ion-item lines="none" style="background: none;
      color: rgb(0, 0, 0);border-radius: 5px;">
        <ion-label position="floating" style="color: rgb(24, 24, 24);">Email</ion-label>
        <ion-input style="
      border-bottom: solid 2px white;
       color: rgb(34, 34, 34)
      " formControlName="phoneNumber" type="text" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>

       <ion-item lines="none" style="background: none;
      color: rgb(0, 0, 0);border-radius: 5px;">
        <ion-label position="floating" style="color: rgb(24, 24, 24);">Password</ion-label>
        <ion-input style="
      border-bottom: solid 2px white;
       color: rgb(34, 34, 34)
      " formControlName="password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
<!-- 
      <ion-item lines="none" style="background: none;color: rgb(0, 0, 0);border-radius: 5px;">
        <ion-label position="floating" style="color: rgb(24, 24, 24);">Password</ion-label>
        <div class="pass" style="width: 100%;display: flex;align-items: center;position: relative;">
          <ion-input maxlength="10"   style="border-bottom: solid 2px white;color: rgb(34, 34, 34)" formControlName="password" [type]="showPassword ? 'text':'password'" [(ngModel)]="password"></ion-input>
          <div class="htt" *ngIf="password" [ngClass]="{'animated fadeIn':password!=''}" style="position: absolute;top: 0;bottom: 0;right: 0;display: flex; align-items: center;z-index: 300;">
            <ion-button  fill="clear" color="light" size="small" (click)="togglePass()">
          <ion-icon color="light" slot="icon-only" [name]="passwordToggleIcon"></ion-icon>
        </ion-button>
          </div>
        </div>
      </ion-item>
      
      <div class="fp">
        <ion-button style="font-size: 3.4vw;" (click)="onClick()" size="small" fill="clear" color="light" shape="round">
          Forgot Password?
        </ion-button>
      </div> -->
      <div class="button">
        <ion-button *ngIf="signingIn" shape="round" size="small" color="success" id="sign-in-button" class="form-buttons"
        disabled="true">
        <ion-spinner name="lines"></ion-spinner>
      </ion-button>
        <ion-button *ngIf="!signingIn" shape="round" size="small" color="success" id="sign-in-button" type="submit" class="form-buttons"
          [disabled]="!registrationForm.valid">
          Log In with email
        </ion-button><br>
        <div class="or">
          <div class="line"></div>
          <div class="text">
            <p>or</p>
          </div>
          <div class="line"></div>
        </div>
<ion-chip (click)="googleLogin()" color="light" mode="ios" outline="true">
  <ion-icon color="light" name="logo-google"></ion-icon>
  <ion-label>Log In with Google</ion-label>
</ion-chip>
      </div>
    </form>
  </div>
  <div class="l">
    <ion-button shape="round" id="sign-in-button" color="light" fill="clear" (click)="toReg()">
      Don't have an account?&nbsp;&nbsp;<u>Register</u>
    </ion-button>
  </div>
</ion-content>