<ion-content>
  <div class="bended">
    <img src="../../../assets/bendedFootballField.svg" alt="">
  </div>
  <div class="close">
    <ion-fab-button size="small" color="light" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </div>
  <div class="container">
    <div id="recaptcha-container"></div>
    <form [formGroup]="registrationForm" (ngSubmit)="addUser(registrationForm.value)">
      <h4><b>Nathi's </b>Tournaments</h4>
      <p>Welcome back</p>

      <ion-item style="background: none;
      color: rgb(0, 0, 0);border-radius: 5px;">
        <ion-label position="floating" style="color: rgb(24, 24, 24);">Phone Number</ion-label>
        <ion-input style="
      border-bottom: solid 2px white;
       color: rgb(34, 34, 34)
      " formControlName="phoneNumber" type="tel" maxlength="10" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>


      <ion-item style="background: none;color: rgb(0, 0, 0);border-radius: 5px;">
        <ion-label position="floating" style="color: rgb(24, 24, 24);">Password</ion-label>
        <div class="pass" style="width: 100%;display: flex;align-items: center;position: relative;">
          <ion-input    style="border-bottom: solid 2px white;color: rgb(34, 34, 34)" formControlName="password" [type]="showPassword ? 'text':'password'" [(ngModel)]="password"></ion-input>
          <div class="htt" *ngIf="password" [ngClass]="{'animated fadeIn':password!=''}" style="position: absolute;top: 0;bottom: 0;right: 0;display: flex; align-items: center;z-index: 300;">
            <ion-button  fill="clear" size="small" (click)="togglePass()">
          <ion-icon slot="icon-only" [name]="passwordToggleIcon"></ion-icon>
        </ion-button>
          </div>
        
        </div>
      </ion-item>


      <div class="button">
        <ion-button shape="round" id="sign-in-button" fill="clear" (click)="toReg()">
          Sign Up
        </ion-button>
        <ion-button shape="round" id="sign-in-button" type="submit" class="form-buttons"
          [disabled]="!registrationForm.valid">
          Sign In
        </ion-button>

      </div>

    </form>
  </div>
</ion-content>