<ion-content>
  <div class="bended">
   <h1>Nathi's</h1>
   <p>Tournaments</p>
  </div>
  <div class="close">
    <ion-fab-button size="small" color="light" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </div>
  <div class="container">
    <div id="recaptcha-container"></div>
    <form [formGroup]="registrationForm" (ngSubmit)="addUser(registrationForm.value)">
      
      <h4>Welcome back</h4>

      <ion-item style="background: none;
      color: rgb(0, 0, 0);border-radius: 5px;">
        <ion-label position="floating" style="color: rgb(24, 24, 24);">Phone Number</ion-label>
        <ion-input style="
      border-bottom: solid 2px white;
       color: rgb(34, 34, 34)
      " formControlName="phoneNumber" type="tel" maxlength="10" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>


      <ion-item style="background: none;color: rgb(0, 0, 0);border-radius: 5px;">
        <ion-label position="floating" style="color: rgb(24, 24, 24);">Password</ion-label>
        <div class="pass" style="width: 100%;display: flex;align-items: center;position: relative;">
          <ion-input    style="border-bottom: solid 2px white;color: rgb(34, 34, 34)" formControlName="password" [type]="showPassword ? 'text':'password'" [(ngModel)]="password"></ion-input>
          <div class="htt" *ngIf="password" [ngClass]="{'animated fadeIn':password!=''}" style="position: absolute;top: 0;bottom: 0;right: 0;display: flex; align-items: center;z-index: 300;">
            <ion-button  fill="clear" color="light" size="small" (click)="togglePass()">
          <ion-icon color="light" slot="icon-only" [name]="passwordToggleIcon"></ion-icon>
        </ion-button>
          </div>
        
        </div>
      </ion-item>
      <div class="button">

        <ion-button shape="round" color="success" id="sign-in-button" type="submit" class="form-buttons"
          [disabled]="!registrationForm.valid">
          Sign In
        </ion-button>

      </div>
      <ion-button style="font-size: 3.4vw;" (click)="forgetP()" size="small" expand="block" fill="clear" color="light" shape="round">
        Forgot Password?
      </ion-button>
    </form>
  </div>
  <div class="l">
    <ion-button shape="round" id="sign-in-button" color="light" fill="clear" (click)="toReg()">
      Sign Up
    </ion-button>
  </div>
</ion-content>