<ion-content>
    <div class="slash"></div>
    <div class="slash o"></div>
    <div class="title">
        <div class="tContent">
            <div class="s">
                <ion-button *ngIf="accountRole=='user'"  size="small" color="success" (click)="login()">
                    Sign In or Sign Up
                </ion-button>
            </div>
            <div class="header">
                <div class="d">
                    <h1 style="font-family: Nasal !important;">Nathi's</h1>
                <p style="font-family: Neou !important;">Tournaments</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mainContentn">
        <div class="filters">
            <ion-button [ngClass]="{'selected':filterBy=='comingUp'}" (click)="filter('comingUp')"
                style="font-size: 3vw; margin: 0;" size="small" fill="clear" color="light">
                Coming Up
            </ion-button>
            <ion-button [ngClass]="{'selected':filterBy=='inProgress'}" (click)="filter('inProgress')"
                style="font-size: 3vw; margin: 0" size="small" fill="clear" color="light">
                In Progress
            </ion-button>
            <ion-button [ngClass]="{'selected':filterBy=='results'}" (click)="filter('results')" style="font-size: 3vw; margin: 0"
                size="small" fill="clear" color="light">
                Results
            </ion-button>
        </div>
        <div class="list">
            <ion-card *ngFor="let item of skeleton" >
                <div  class="ion-padding custom-skeleton" >
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </div>
                  <br><br>
            </ion-card>
            <ion-card class="animated" [ngClass]="{'fadeOut faster':loadFilter,'fadeInUp faster':!loadFilter}"  mode="ios" *ngFor="let t of viewTournaments" >
                <div class="more">
                    <ion-fab-button fill="clear" color="light" size="small" (click)="viewTournament(t)">
                        <ion-icon name="arrow-dropright"></ion-icon>
                    </ion-fab-button>
                </div>
                <ion-card-header>
                <ion-card-title style="font-weight: bolder;font-family: Muller; font-size: 5vw !important;">{{t.formInfo.tournamentName}}</ion-card-title>
                    <ion-card-subtitle style="font-family: Muller;"><b>{{t.formInfo.location}}</b>  {{t.formInfo.startDate | date:'MMM dd'}} - {{t.formInfo.startDate | date:'shortTime'}}</ion-card-subtitle>
                </ion-card-header>
                <hr style="background: rgb(236, 236, 236);margin: 0;">
                <ion-card-content style="width: 90% !important;" >
                    <div class="long-text">
                        <p style="margin: 0 ; font-family: Muller;">{{t.formInfo.bio}}</p>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>