.refreshe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.head {
    display: flex;
    align-items: center;
    background: #012615;
    color: rgb(141, 247, 208);
    padding: 5px;
    border-radius: 0px 0px 20px 20px;

    .title {
        flex-basis: 100%;
        padding: 0px 10px;

        h4 {
            margin: 0;
            text-align: center;

        }
    }

    .button {
        ion-button {
            box-shadow: none !important;
        }
    }
}

.lazyCard {

    border-radius: 10px;
    padding: 5px;
    width: 100vw;
    height: 90%;
    color: rgb(75, 75, 75);
    display: flex;
    align-items: center;
    text-align: center;
    animation: lazyCard 3s ease-in-out infinite;

    h1 {
        margin: auto;
        text-shadow: 0px 2px 2px #1717173f;
    }

}

@keyframes lazyCard {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .3;

    }

    100% {
        opacity: 1;
    }
}

.tournaments {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 40px;

    h5 {
        margin: 0;

    }

    .inprogress,
    .upcomming,
    .finnished {
        height: 33%;
        width: 100%;
        padding: 0px 0px;

        .tite {
            width: 100%;
            display: flex;
            align-items: center;

            .text {
                padding: 5px 10px;

                p {
                    font-size: 4vw;
                    margin: 0;
                    font-weight: bolder;
                }
            }

            .decor {
                flex-basis: 100%;

                .line {
                    width: 100%;
                    height: 1px;
                    border-radius: 200px;
                    background: rgb(201, 201, 201);
                }
            }
        }

        .cardList {
            height: 82%;
            display: flex;
            overflow-x: auto;
            overflow-y: visible;
            align-items: center;

            .card {
                border-radius: 3px;
                padding: 5px;
                min-width: 90vw;
                height: 90%;
                margin: 2px auto;
                color: #252525;
                position: relative;
                box-shadow: -3px -3px 5px 0 #ffffff08, 3px 3px 8px 0 #7b7b7b38;
                border-radius: 12px;
                margin: 0px 10px !important;
                .title {
                    text-align: center;
                    position: absolute;
                    top: -6px;
                    background: #f5f6f9;
                    left: 20px;
                    right: 20px;
                    box-shadow: 8px 3px #012615, -8px 3px #05a66b;
                    transform: skewX(20deg);
                    border-radius: 17px;

                    h5 {
                        transform: skewX(-20deg);
                        margin: 0;
                        font-size: 4vw;
                        text-shadow: 0px 2px 2px #17171731;
                    }
                }

                .info {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 80%;
                    margin-top: 7%;
                    .details {
                        flex-basis: 69%;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        margin-left: 10vw;
                        div {
                            text-align: left;

                            p {
                                margin: 0;
                                font-size: 3.5vw;
                            }
                        }
                    }

                    .sponsors {
                        height: 100%;
                        display: -webkit-box;
                        display: flex;
                        /* flex-wrap: wrap; */
                        flex-direction: column;
                        justify-content: center;
                        /* -webkit-box-align: center; */
                        /* align-items: center; */
                        margin-right: 10vw;
                        div {
                            max-height: 100%;

                            img {
                                height: 7vw;
                                width: 7vw;
                                border-radius: 5px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

.green {
    background: url(../../assets/footer_curves.svg), rgb(252, 252, 252);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    
}

.blue {
    background: url(../../assets/footer_curves.svg), rgb(252, 252, 252);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.red {
    background: url(../../assets/footer_curves.svg), rgb(252, 252, 252);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}