<ion-content>
    <div class="slash"></div>
    <div class="slash o"></div>
    <div class="o__slash"></div>
    <div class="o__slash oo"></div>
    <div class="title">
        <div class="tContent">

            <div class="header">
                <div class="d">
                    <h1 style="font-family: Nasal !important;">Nathi's</h1>
                <p style="font-family: Neou !important;">Tournaments</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mainContentn">
        <div class="filters">
            <ion-button [ngClass]="{'selected':filterBy=='comingUp'}" (click)="filter('comingUp')"
                style="font-size: 3vw; margin: 0;" size="small" fill="clear" color="light">
                Coming Up
            </ion-button>
            <ion-button [ngClass]="{'selected':filterBy=='inProgress'}" (click)="filter('inProgress')"
                style="font-size: 2.3vw !important; margin: 0" size="small" fill="clear" color="light">
                In Progress
            </ion-button>
            <ion-button [ngClass]="{'selected':filterBy=='results'}" (click)="filter('results')" style="font-size: 3vw; margin: 0"
                size="small" fill="clear" color="light">
                Results
            </ion-button>
            <div class="dLine">

            </div>
        </div>
        <div class="list">
        <!--
            
        -->
            <ion-card *ngFor="let item of skeleton" >
                <div  class="ion-padding custom-skeleton" >
                   <div class="long-text">
                        <p id="longertext">No Tournament information found </p><p id="els">...</p>
                    </div>
                  </div>
                  <br><br>
            </ion-card>
            <ion-card class="animated" [ngClass]="{'fadeOut faster':loadFilter,'fadeInUp faster':!loadFilter}"  mode="ios" *ngFor="let t of viewTournaments" (click)="viewTournament(t)" >
                
                <ion-card-header style="padding: 10px 20px !important;">
                <ion-card-title style="font-weight: bolder;font-family: 'Obj Bold'; font-size: 5vw !important;">{{t.formInfo.tournamentName}}</ion-card-title>
                    <ion-card-subtitle style="color: orangered;font-family: 'Obj'; margin: 10px 0px !important;"> {{t.formInfo.startDate | date:'MMM dd'}}  {{t.formInfo.startDate | date:'shortTime'}}</ion-card-subtitle>
                </ion-card-header>
                <hr>
                <ion-card-content style="padding: 10px 20px !important;">
                    <div class="long-text">
                        <p id="longertext">{{t.formInfo.bio}}</p><p id="els">...</p>
                    </div>
                </ion-card-content>
                <div class="more">
                    <ion-button  size="small" fill="outline" shape="round">
                        Read more
                    </ion-button>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>