<ion-content>
  <!-- (ionRefresh)="doRefresh($event)" -->
  
  <div class="refreshe">
    <!-- <ion-refresher slot="fixed" >
    <ion-refresher-content
    slot="fixed" pullFactor="0.5" pullMin="0" pullMax="0"
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->
</div>
  <div class="head">
<div class="title">
  <h4><b>Nathis's </b>Tournaments</h4>
</div>
<div class="button"  *ngIf="!accountRole" >
    <ion-spinner style="margin: 0 !important;" color="light" name="lines"></ion-spinner>
</div>
  </div>
  
  <div class="tournaments">
    <div class="inprogress">
      <div class="tite">
        <div class="decor">
          <div class="line"></div>
        </div>
        <div class="text">
          <p>Active</p>
        </div>
        <div class="decor">
          <div class="line"></div>
        </div>
      </div>
      <div class="cardList ">
        <div class="lazyCard" loading="lazy" *ngIf="inprogress.length==0" ><h1>No Tournaments</h1></div>
        <div class="card green" *ngFor="let item of inprogress" (click)="viewTournament(item)" >
          <div class="title">
          <h5>{{item.formInfo.tournamentName}}</h5>
          </div>
          <div class="info">
            <div class="details">
              <div>
                <p style="font-size: 4vw !important;"><b>Top {{item.formInfo.type}} - <span style="color: orangered;">R {{item.formInfo.joiningFee}}.00 fee</span></b></p>
                <p>{{item.formInfo.location}}</p>
                <p> Starts - {{item.formInfo.startDate | date}} <br> Ends - {{item.formInfo.endDate | date}}</p>
                
                <p style="color: rgb(170, 170, 170);">{{item.approvedVendors.length}} Vendors</p>
               </div>
            </div>
            <div class="sponsors">
              <div *ngFor="let s of item.sponsors">
                <img src="../../assets/nathi_noImage.png" *ngIf="!s.sponsorImage"  alt="">
                <div *ngIf="s.sponsorImage">
                  <img  src="{{s.sponsorImage}}" width="30px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="upcomming">
      <div class="tite">
        <div class="decor">
          <div class="line"></div>
        </div>
        <div class="text">
          <p>UpComing</p>
        </div>
        <div class="decor">
          <div class="line"></div>
        </div>
      </div>
      <div class="cardList">
          <div class="lazyCard" loading="lazy" *ngIf="upcoming.length==0" ><h1>No Tournaments</h1></div>
        <div class="card blue" *ngFor="let item of upcoming"  >
          <div class="title">
            <h5>{{item.formInfo.tournamentName}}</h5>
          </div>
          <div class="info">
            <div class="details">
              <div>
                <p style="font-size: 4vw !important;"><b>Top {{item.formInfo.type}} - <span style="color: orangered;">R {{item.formInfo.joiningFee}}.00 fee</span></b></p>
                <p>{{item.formInfo.location}}</p>
                <p> Starts - {{item.formInfo.startDate | date}} <br> Ends - {{item.formInfo.endDate | date}}</p>
                
                <p style="color: rgb(170, 170, 170);">{{item.approvedVendors.length}} Vendors</p>
               </div>
            </div>
            <div class="sponsors">
              <div *ngFor="let s of item.sponsors">
                <img *ngIf="!s.sponsorImage"  src="../../assets/bluebg.jpg" alt="">
                <img  *ngIf="s.sponsorImage"  src="{{s.sponsorImage}}" width="30px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="finnished">
      <div class="tite">
        <div class="decor">
          <div class="line"></div>
        </div>
        <div class="text">
          <p>History</p>
        </div>
        <div class="decor">
          <div class="line"></div>
        </div>
      </div>
      <div class="cardList">
          <div class="lazyCard" loading="lazy" *ngIf="finished.length==0" ><h1>No Tournaments</h1></div>
        <div class="card red" *ngFor="let item of finished" (click)="viewTournament(item)" >
          <div class="title">
            <h5>{{item.formInfo.tournamentName}}</h5>
          </div>
          <div class="info">
            <div class="details">
              <div>
                <p style="font-size: 4vw !important;"><b>Top {{item.formInfo.type}} - <span style="color: orangered;">R {{item.formInfo.joiningFee}}.00 fee</span></b></p>
                <p>{{item.formInfo.location}}</p>
                <p>Ended - {{item.formInfo.endDate | date}}</p>
                
                <p style="color: rgb(170, 170, 170);">{{item.approvedVendors.length}} Vendors</p>
               </div>
            </div>
            <div class="sponsors">
              <div *ngFor="let s of item.sponsors">
              <img *ngIf="!s.sponsorImage"  src="../../assets/bluebg.jpg" alt="">
              <img *ngIf="s.sponsorImage" src="{{s.sponsorImage}}" width="30px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
