<ion-content>

    <div class="container">
        <div class="title">
            <div class="head">
                <h1>Nathi's</h1>
                <p>Tournaments</p>
            </div>
        </div>
        <div class="information">
            <div class="h animated" [ngClass]="{'slideOutUp faster':hideNext}">
                <h1>Welcome</h1>
            </div>
            <div class="sl">
                <div class="nexter animated" [ngClass]="{'slideOutRight faster':hideNext}">
                    <ion-button fill="outline" color="light" shape="round" (click)="nextSlide()">
                        <ion-icon slot="end" name="arrow-forward"></ion-icon>
                        Next
                    </ion-button>
                </div>
                <div class="skipper animated" [ngClass]="{'slideOutLeft faster':hideNext}">
                    <ion-button fill="clear" color="light" shape="round" (click)="skip()">
                        Skip
                    </ion-button>
                </div>
                <ion-slides #slides [options]="slideOpts" (ionSlideWillChange)="getSlide($event)"
                    (ionSlideDidChange)="getSlide($event)" mode="md" pager="md">
                    <ion-slide>
                        <div class="sTitle">
                            <h1>Nathi's Tournaments</h1>
                        </div>
                        <div class="image">
                            <img src="../../../assets/onboarding/tournaments.svg" alt="">
                        </div>
                        <div class="instructions">
                            <p>Get your local tournaments at your finger tips. You will be able to see the location, date and be directed to where the tournament is happening.</p>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="sTitle">
                            <h1>Tournament Matches</h1>
                        </div>
                        <div class="image">
                            <img src="../../../assets/onboarding/matches.svg" alt="">
                        </div>
                        <div class="instructions">
                            <p>Get s live status of every match inside every playing tournament. You also get to see the history of past played tournaments any time.</p>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="sTitle">
                            <h1>Your Favourite Teams
                                and Players</h1>
                        </div>
                        <div class="image">
                            <img src="../../../assets/onboarding/teamsAndPlayers.svg" alt="">
                        </div>
                        <div class="instructions">
                            <p>Witness teams battle for the first position, and players battle to be the best. Kepp track of their progress and get information about them.</p>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div style="margin-bottom: 50%;" class="done">
                            <div class="sTitle">
                                <h1 style="font-size: 9vw !important;">All Done!</h1>
                            </div>
                            <div class="image">
                                <img src="../../../assets/onboarding/allSet.svg" alt="">
                            </div>
                            <div class="instructions">
                                <p>You are now ready to start using the app.<br>
                                </p>
                                
                                <div class="btns">
                                    <ion-button shape="round" color="light" fill="outline" (click)="sign('in')">
                                        Sign In
                                    </ion-button>
                                    <ion-button shape="round" fill="outline" color="light" (click)="sign('up')">
                                        Sign Up
                                    </ion-button> <br>
                                    <ion-button shape="round" color="light" fill="clear" shape="round"
                                        (click)="sign('home')">
                                        Explore
                                    </ion-button>
                                </div>
                            </div>
                        </div>

                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </div>
</ion-content>